* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  height: 50px;
  border: solid;
}
nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 100%;
  margin: 0;
}
nav li {
  height: 100%;
  display: flex;
  align-items: center;
}
nav a {
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.hover_container {
  height: 50vh;
  width: 100%;
  /* border: solid; */
  position: absolute;
  left: 0;
  top: 50px;
  visibility: hidden;
  display: flex;
  justify-content: center;
}
nav li:hover .hover_container {
  /* display: block; */
  visibility: visible;
}
.hover_container_data {
  width: 75%;
  /* border: solid; */
  display: flex;
}
.hover_container_data ul {
  margin-top: 30px;
}
.hover_container_data ul li:first-child {
  margin-bottom: 20px;
  color: gray;
  font-size: 13px;
}

.hover_container_data .a_bold {
  font-size: 25px;
  font-weight: 600;
}

.hover_container_data a {
  font-size: 12px;
}


/* @ Store container starts here */

.footnote {
  height: 70px;
  border: solid;
}

.storeContainer {
  height: 240px;
  /* border: solid; */
}
.storeContainer article:first-child aside {
  font-size: 72px;
  background-image: linear-gradient(to right, blue, orange);
  -webkit-background-clip: text; /* For cross-browser compatibility */
  background-clip: text;
  color: transparent;
  font-weight: 600;
}

.holiday {
  width: 350px;
  font-size: 28px;
  font-weight: 600;
}

/* ! Image slider */

.imageSlider img {
  height: 100px;
  width: 150px;
}

.imageSlider {
  display: flex;
  text-align: center;
  gap: 30px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.imageSlider figure {
  width: 300px;
  height: 300px;
}