*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

nav{
    height: 40px;
    justify-items: center;
    background-color: rgb(239, 243, 247);
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;
    /* margin: 0; */
    gap: 6px;
}

nav a{
    font-size: 13px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.hover_container{
  height: 50vh;
  width: 100%;
  border: solid;
  position:absolute;
  left: 0;
  top: 50px;
  visibility: hidden;
  display: flex;
  justify-content: center;
}

.hover_container_data {
  width: 100%;
  border: solid;
  display: flex;
  background-color: rgb(61, 117, 117);
}

nav li:hover .hover_container {
  /* display: block; */
  visibility: visible;
}

.hover_container_data ul {
  margin-top: 30px;
}

.hover_container_data ul li:first-child {
  margin-bottom: 20px;
  color: gray;
  font-size: 13px;
}

.hover_container_data .a_bold {
  font-size: 25px;
  font-weight: 600;
}

.hover_container_data a {
  font-size: 12px;
}


.p_offer{
    font-size: 13px;
    font-weight:600;
    padding: 20px;
    justify-self:center;
   
}

/*  -----------------------------------    Header  -------------------------------------------- */
header{
    display: flex;
    height: 300px;
    padding: 50px;
    justify-content: space-between;
 
}

header h1{
    font-size: 70px;
    font-weight: 700;

}

.header_col2{
    justify-items: flex-end ;
    padding-top: 40px;
    width: 50%;
} 


.header_col2 a{
    text-decoration: none;
}

.list_menu{
    display: flex;
    height: 86px;
    gap: 30px;
    margin: 40px;
    margin-bottom: 90px;
   
}


/* --------------------------------  SECTION-1 CARDS  ----------------------------------- */
.card-1{ background-image: url(./photos/store-card-50-holiday-iphone-17-pro-202511.jpeg);}
.card-2{ background-image: url(./photos/store-card-50-holiday-macbook-pro-202511.jpeg);}
.card-3{ background-image: url(./photos/store-card-50-holiday-ipad-pro-202511.jpeg);}
.card-4{background-image: url(./photos/store-card-50-holiday-watch-s11-202511.jpeg);}
.card-5{background-image: url(./photos/store-card-50-holiday-iphone-17-202511.jpeg);}
.card-6{background-image: url(./photos/store-card-50-holiday-macbook-air-202511.jpeg);}
.card-7{background-image: url(./photos/store-card-50-holiday-iphone-air-202511.jpeg);}
.card-8{background-image: url(./photos/store-card-50-holiday-watch-ultra-202511_GEO_IN.jpeg);}
.card-9{background-image: url(./photos/store-card-50-holiday-watch-se-202511.jpeg);}

.Products_container h2{
    font-size: 27px;
    margin-left: 60px;

}

.Products{
    display: flex;
    height: 600px;
    width: 5000px;
    gap: 20px;
    margin: 40px 60px;
}

.product-card{
    height: 460px;
    width:440px;
    padding: 50px 40px;
    border-radius: 20px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;



    transition: transform 0.3s ease;
    box-shadow: 0.3s ease;

}
.product-card:hover{
    transform: scale(1.01);
    box-shadow: 2 8px 20px rgba(0, 0, 0, 0.2);
}

.product-card h1{
    font-size: 31px;
}

.product-card h3{
    font-size: 20px;
}


/* ---------------------------------------  SECTION-2 Cards --------------------------------------------- */


.product-container{
    /* border: black; */
    /* background-color: antiquewhite; */
    width: 3000px;
    height: 500px;

}

.product{
    display: flex;
    gap: 20px;
    margin: 40px 60px;
    

}

.card{
height: 460px;
width: 290px;
border-radius: 20px;

transition: transform 0.3s ease;
box-shadow: 0.3s ease;

}

.card:hover{
    transform: scale(1.05);
    box-shadow: 2 8px 20px rgba(0, 0, 0, 0.2);
}


.card-info{
    padding: 30px;
    font-weight: 600;
}
.card h3{
    font-size:25px;
    font-weight: 600;
}
.card p{
    font-size: 12px;
    
}





























/* ----------------------------------------  Footer Notes   ---------------------------------------------- */

article .footer_btn button{
     border-radius: 20px;
     padding: 6px;
     font-size: 15px;
     color: #000;
     background-color: white;
    
   
}

article .footer_btn button:hover{
    background-color: black;
    color: white;
        
}

article .para{
    margin: 100px;
}


article .para p{
    font-size: 13px;

}


/* ----------------------------------------------  Footer  -------------------------------------------- */
footer{
    /* border: solid tomato; */
}




.footer_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    /* grid-template-columns: repeat(4/5); */
    gap: 20px;
    border: solid;
}

.footer_container{
    font-size: 12px;
    margin-bottom: 10px;
    color: #111;
    /* padding: 100px; */
}


.footer_container h4{
    font-size: 14px;

}
.footer_container ul {
    list-style: none;

}

.footer_container a{
    text-decoration: none;
    color: black;

}

.footer_container a:hover{
    text-decoration: underline;
}


.footer_container{
    margin-bottom: 8px;
    cursor: pointer;
}



.footer-bottom {
    display: flex;
      justify-content:space-between ;
      font-size: 13px;
}

.footer-bottom-links{
    font-size: 13px;
  
} */