*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 50px;
    border: solid;
    justify-items: center;
   
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;
    margin: 0;
    gap: 5px;
}

nav a{
    font-size: 15px;
    text-decoration: none;
    color: black;
    cursor: pointer;
   



}