* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: rgb(224, 232, 239);
}

nav {
    height: 40px;
    justify-items: center;
    background-color: rgb(239, 243, 247);
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;
    /* margin: 0; */
    gap: 6px;
}

nav a {
    font-size: 13px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.hover_container {
    height: 50vh;
    width: 100%;
    /* border: solid; */
    position: absolute;
    left: 0;
    top: 50px;
    visibility: hidden;
    display: flex;
    justify-content: center;
}

.hover_container_data {
    width: 100%;
    display: flex;
    background-color: rgb(194, 220, 220);
}

nav li:hover .hover_container {
    /* display: block; */
    visibility: visible;
}

.hover_container_data ul {
    margin-top: 30px;
}

.hover_container_data ul li:first-child {
    margin-bottom: 20px;
    color: gray;
    font-size: 13px;
}

.hover_container_data .a_bold {
    font-size: 25px;
    font-weight: 600;
}

.hover_container_data a {
    font-size: 12px;
}


.p_offer {
    font-size: 13px;
    font-weight: 600;
    padding: 20px;
    text-align: center;

}

/*-----------------------------------   @Store Container  ---------------------------------- */
.store-container {
    display: flex;
    height: 300px;
    padding: 50px;
    justify-content: space-between;

}

.store-container h1 {
    font-size: 70px;
    font-weight: 700;

}

.section_col2 {
    justify-items: flex-end;
    padding-top: 40px;
    width: 50%;
}


/*  ----------------------------------------  @ImageSlider Menu  */

.ImageSlider-Container {
    /* background-color: aquamarine; */
    height: 200px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.imageSlider {
    display: flex;
    height: 100px;
    width: 100px;
    gap: 30px;
    margin: 40px;
    text-align: center;
}

.imageSlider img {
    height: 100px;
    width: 150px;
}

/* -------------------------------------------  @latestSection AND  @SavingsContainer ------------------------------------------- */

.card-1 {background-image: url(./photos/store-card-50-holiday-iphone-17-pro-202511.jpeg);}
.card-2 {background-image: url(./photos/store-card-50-holiday-macbook-pro-202511.jpeg);}
.card-3 {background-image: url(./photos/store-card-50-holiday-ipad-pro-202511.jpeg);}
.card-4 {background-image: url(./photos/store-card-50-holiday-watch-s11-202511.jpeg);}
.card-5 {background-image: url(./photos/store-card-50-holiday-iphone-17-202511.jpeg);}
.card-6 {background-image: url(./photos/store-card-50-holiday-macbook-air-202511.jpeg);}
.card-7 {background-image: url(./photos/store-card-50-holiday-iphone-air-202511.jpeg);}
.card-8 {background-image: url(./photos/store-card-50-holiday-watch-ultra-202511_GEO_IN.jpeg);}
.card-9 {background-image: url(./photos/store-card-50-holiday-watch-se-202511.jpeg);}
.card-71 {background-image: url(./photos/71.jpeg);}
.card-72 {background-image: url(./photos/72.jpeg);}
.card-73 {background-image: url(./photos/77.jpeg);}
.card-74 {background-image: url(./photos/74.jpeg);}
.card-75 {background-image: url(./photos/75.jpeg);}
.card-76 {background-image: url(./photos/76.jpeg);}


.latestSection{
    /* background-color: aquamarine; */
     overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.Card-Container {
    display: flex;
    height: 500px;
    width: 4400px;
    gap: 20px;
    padding-top: 20px;
    margin: 40px 60px;
    /* overflow-x: scroll;
    -ms-overflow-style: none; */
    scrollbar-width: none;

}

.Cards {
    height: 460px;;
    width: 460px;
    padding: 40px 50px;
    border-radius: 20px;
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: transform 0.3s ease;
    box-shadow: 0.3s ease;

}

.Cards:hover {
    transform: scale(1.01);
    box-shadow: 2 8px 20px rgba(0, 0, 0, 0.2);
}

/* 
.Cards h1 {
    font-size: 31px;
} */

.Cards h3 {
    font-size: 20px;

}


/* ---------------------------------------  @PersonalisationSection AND @Holidaypick Section --------------------------------------------- */
.card-10 {background-image: url(./photos/store-card-40-holiday-engraving-202511.png);}
.card-11 {background-image: url(./photos/mac-card-50-customize-202510.png);}
.card-13 {background-image: url(./photos/store-card-60-holiday-gift-card-202511.jpeg);}
.card-12 {background-image: url(./photos/store-card-60-holiday-quick-picks-202511\ \(1\).png);}

.PersonalisationSection {

    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
} 

.PersonalisationSection .Card-Container{
    width: 3100px;
}

.HolidayPickSection {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.HolidayPickSection .Card-Container{
     width: 3100px;
}


.ShortCard {
    background-color: white;
    height: 460px;
    width: 280px;
    border-radius: 20px;
    transition: transform 0.3s ease;
    box-shadow: 0.3s ease;


}

.ShortCard img {

    height: 220px;
    width: 220px;
    margin: 30px;
}

.ShortCard:hover {
    transform: scale(1.05);
    box-shadow: 2 8px 20px rgba(0, 0, 0, 0.2);
}


.ShortCard .card-info {
    padding-left: 30px;
    padding-top: 30px;

}

.ShortCard p {
    font-size: 13px;
    color: rgb(216, 94, 94);
    margin-bottom: 0;
}

.ShortCard h3 {
    font-size: 19px;
    font-weight: 600;
    margin-top: 0;
}


.ShortCard h5 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 50px;
}

/*  -------------------------------------------------      @Get Insperied Section  AND SavingsSection   -------------------------------------- */
.card-14 {background-image: url(./photos/81.jpeg);}
.card-15 {background-image: url(./photos/84.jpeg);}
.card-16 {background-image: url(./photos/86s.jpeg);}
.card-17 {background-image: url(./photos/91.jpeg);}
.card-18 {background-image: url(./photos/92.jpeg);}


.GetInsperiedSection{
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.GetInsperiedSection .Card-Container{
    width: 4500px;
}

.SavingsSection{

     overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.SavingsSection .Card-Container{
    width:2900px;
}



/* ----------------------------------------  Footer Notes   ---------------------------------------------- */

article .footer_btn button {
    border-radius: 20px;
    padding: 6px;
    font-size: 15px;
    color: #000;
    background-color: white;


}

article .footer_btn button:hover {
    background-color: black;
    color: white;

}

article .para {
    margin: 100px;
}


article .para p {
    font-size: 13px;

}


/* ----------------------------------------------  Footer  -------------------------------------------- */
footer {
    /* border: solid tomato; */
}




.footer_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    padding: 50px;
}

.footer_container {
    font-size: 12px;
    margin-bottom: 10px;
    color: #111;
    /* padding: 100px; */
}


.footer_container h4 {
    font-size: 14px;

}

.footer_container ul {
    list-style: none;

}

.footer_container a {
    text-decoration: none;
    color: black;

}

.footer_container a:hover {
    text-decoration: underline;
}


.footer_container {
    margin-bottom: 8px;
    cursor: pointer;
}



.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.footer-bottom-links {
    font-size: 13px;

}


h2{
    font-size: 28px;
    margin-left: 60px;
  
}